button,
a,
.animated {
  transition: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
}

button:hover,
a:hover,
.animated:hover {
  transform: scale(1.05);
}

button:active,
a:active,
.animated:active {
  transform: scale(0.95);
}
