.page {
  max-height: 100vh;
  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
    max-height: initial;
  }
}

.sidebar,
.main {
  padding: 24px;

  @media (min-width: $mantine-breakpoint-xs) {
    border-right: 1px solid #f1f1f1;
    padding: 48px;
  }
}

.main {
  order: 2;
  overflow: scroll;
}

.map {
  flex: 1;
  order: 3;

  @media (max-width: $mantine-breakpoint-xs) {
    aspect-ratio: 1;
    padding: 24px;
    flex: initial;
    order: 1;

    canvas {
      border-radius: 24px;
    }
  }
}
