.page {
  min-height: 100vh;
  max-height: 100vh;
  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
    max-height: initial;
  }
}

.sidebar,
.main {
  padding: var(--mantine-spacing-lg);

  @media (min-width: $mantine-breakpoint-xs) {
    border-right: 1px solid #f1f1f1;
    padding: var(--mantine-spacing-2xl);
  }
}

.main {
  order: 2;
  overflow: scroll;
}

.map {
  flex: 1;
  order: 3;

  @media (max-width: $mantine-breakpoint-xs) {
    height: 280px;
    flex: initial;
    order: 1;
  }
}
